.List {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    width: 100%;
}

.vtrack {
    background-color: #2f2f37;
    top: 2px;
    right: 2px;
    bottom: 2px;
    width: 10px;
}

.vthumb {
    background-color: var(--secondary);
}
