.ForgotPasswordPage {
	display: flex;
	justify-content: center;
	width: 100%;
}

.Inner {
	margin-top: 180px;
	max-width: 480px;
	width: 100%;
}

.Title {
	text-align: center;
}

.Form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.FormItem {
	margin: 0 auto 24px;
	width: max-content;
}

.Footer {
	margin-top: 80px;
}

.FooterText {
	display: inline-block;
	margin-right: 8px;
}

.FooterLink {
	color: var(--accent);
	transition: all 0.15s;
}

.FooterLink:hover {
	color: white;
}

.FooterRow {
	text-align: center;
}
