.ProfileNavigation {
	margin-right: 60px;
	max-width: 320px;
	width: 100%;
}

.MenuPanel {
	width: 100%;
}

.MenuPanelItem p {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}

.Logout {
	display: flex;
	padding: 16px 20px;
	max-width: max-content;
	width: 100%;
	text-decoration: none;
}

.LogoutText {
	margin-left: 8px;
	cursor: pointer;
	transition: all 0.15s;
}

.LogoutText:hover {
	color: white;
}
